:root {
  --theme-font-color: #1a2b42;
  --theme-light-background-color: #ffe39e;
  --theme-background-color: #ffdc8b;
  --theme-red-color: #e76571;

  --theme-color: #666;
  --code-bg-color: #212836;
  --common-shadow: 2px 2px 2px var(--theme-color);
  --wide-spacing: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--theme-font-color);
  background-color: var(--theme-background-color);
}
body::-webkit-scrollbar {
  cursor: default;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--theme-red-color);
}
